<h3><i class="fa fa-arrow-left clickable" (click)="navigateBackToList()"></i> Pessoa</h3>
<hr />
<!-- <p>{{ people | json }}</p>
<hr /> -->
<form #f="ngForm" (ngSubmit)="submit()">
  <div class="form-group">
    <label for="name">Nome</label>
    <input id="name" name="name" type="text" class="form-control" [(ngModel)]="people.name" required #name="ngModel">
    <div class="alert alert-danger" *ngIf="name.touched && !name.valid">Por favor informe um Nome.</div>
  </div>
  <div class="form-group">
    <label for="state">Estado</label>
    <select id="state" name="state" class="form-control" [(ngModel)]="people.stateId" (change)="onStateChange()" required #state="ngModel">
      <option [ngValue]="-1" disabled="true" [selected]="!people.stateId || people.stateId.length == 0">Selecione um Estado...</option>
      <option *ngFor="let st of states" [ngValue]="st.id">{{st.name}}</option>
    </select>
    <div class="alert alert-danger" *ngIf="state.touched && !state.valid">Por favor informe um Estado.</div>
  </div>
  <div class="form-group">
    <label for="cpf">CPF</label>
    <input id="cpf" name="cpf" type="text" class="form-control" [textMask]="{mask: cpfMask, guide: false}" [(ngModel)]="people.cpf" required #cpf="ngModel">
    <div class="alert alert-danger" *ngIf="cpf.touched && (!cpf.valid || !cpfIsValid())">Por favor informe um CPF.</div>
  </div>
  <div *ngIf="(people.state && people.state.requireRG)" class="form-group">
    <label for="rg">RG</label>
    <input id="rg" name="rg" type="text" class="form-control" [(ngModel)]="people.rg" required #rg="ngModel">
    <div class="alert alert-danger" *ngIf="rg.touched && !rg.valid">Por favor informe um RG.</div>
  </div>
  <div class="form-group">
    <label for="birthDate">Data de Nascimento</label>
    <div id="birthDate" class="input-group" daterangepicker [options]="datePickerOptions" (selected)="selectedDate($event)">
        <span class="form-control uneditable-input"  name="daterange" >
            {{ people.birthDate | date:'dd/M/y' }}
        </span>
        <span class="input-group-btn">
            <a type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></a>
        </span>
    </div>
  </div>

</form>

<h3>Telefones</h3>
<hr />
<div class="well" *ngIf="phoneEditForm">
  <div class="form-group">
    <label for="phone">Telefone</label>
    <input id="phone" name="phone" type="text" class="form-control" [textMask]="{mask: phoneMask, guide: false}" [(ngModel)]="phoneDummy.phone" required #phone="ngModel">
  </div>
  <button type="button" class="btn btn-success" [disabled]="!phoneIsValid()" (click)="savePhone()"><i class="fa fa-check"></i> Salvar</button>
  <button type="button" class="btn btn-default" (click)="resetPhone()"><i class="fa fa-close"></i> Cancelar</button>
</div>
<button type="button" *ngIf="!phoneEditForm" class="btn btn-primary" (click)="showPhoneEditForm()"><i class="fa fa-plus"></i> Novo Telefone</button>
<hr />
<table class="table table-hover">
  <thead>
    <tr>
      <th>Telefone</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let phone of people.phones; let i = index" [attr.data-index]="i" (click)="editPhone(i, phone)">
      <th>{{phone.phone}}</th>
      <th class="align-right"><button type="button" class="btn btn-sm btn-danger" (click)="deletePhone(i)"><i class="fa fa-close"></i></button></th>
    </tr>
  </tbody>
</table>

<hr />

<button type="button" class="btn btn-success" [disabled]="!f.valid || !people.birthDate || !cpfIsValid()" (click)="submit()"><i class="fa fa-check"></i> Salvar</button>
<button *ngIf="people.id" type="button" class="btn btn-danger" (click)="delete()"><i class="fa fa-close"></i> Remover</button>
  
